/* Import Archivo Font family */
  @import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;800&display=swap');

.App {
  text-align: center;
}

body {

  min-height: 100vh;
  background-color: #f0f0f0;
  font-family: 'Archivo', sans-serif;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  background: white;
  border-style: solid;
  border-width: 0.1em;
}

.nav-left, .nav-right {
  display: flex;
  gap: 25px; /* Increased the space between elements */
  align-items: center; /* Centers the elements vertically */
}

.nav-right {
  padding-right: 2em;
}

.nav-link {
  text-decoration: none; /* Removes the underline */
  color: inherit; /* Inherits the color from the parent */
  vertical-align: middle; /* Centers the text vertically */
  font-size: 1.75em; /* Adjusted font size */
}

.navbar-logo {
  width: 100px;
  height: auto;
}

.nav-button {
  padding: 9px 45px;
  border-radius: 5px; /* Makes the edges rounded */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
  font-size: 1.75em; /* Adjusted font size */
  border-width: 1px;
  color: white;
  background-color: #0f5257;
}


.nav-button:hover {
  background-color: #464646;
  color: white; /* Changing text color to white for better visibility on black background */
}

.home {
  background-color: #f0f0f0;
  padding-bottom: 48.5em;
}


.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px; /* Adjust this for space between items */
  width: 100%;
}

.carousel-item {
  border: 1px solid gray;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}

.carousel-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}


/* Media query for mobile devices */
@media (max-width: 768px) {
  .nav {
      flex-direction: column;
      
  }

  .nav-left {
      justify-content: center;
  }

  .nav-right {
      flex-direction: column;
      align-items: center;
      padding-right: 0;
      justify-content: center;
      
  }

  .nav-link {
      text-align: center;
      font-size: 1.5em;
      margin: 0; 
      padding: 0; 
      box-sizing: border-box; 
  }

  .nav-button {
      font-size: 1.5em;
      width: 100%; /* To make the buttons full width on mobile */
  }

}


